<div class="passmarked{{namespace}}-widget-wrapper">

  <div class="passmarked{{namespace}}-widget-section" data-section="failed">

    <p>Websockets are unsupported now</p>

  </div>

  <div class="passmarked{{namespace}}-widget-section" data-section="details">

    <div class="passmarked{{namespace}}-widget-wrapper">

      <div class="passmarked{{namespace}}-widget-header">

        <div class="passmarked{{namespace}}-widget-logo">

          <img src="//static.passmarked.com/moods/upset64.png" />
          <!-- <img src="//static.passmarked.com/logo64.png" /> -->

        </div>
        <div class="passmarked{{namespace}}-widget-domain">

          <div class="passmarked{{namespace}}-widget-domain-text"></div>
          <div class="passmarked{{namespace}}-widget-domain-link"></div>

        </div>
        <div class="passmarked{{namespace}}-widget-mood">

          <h2 class="passmarked{{namespace}}-widget-score"></h2>

        </div>

        <div class="passmarked{{namespace}}-clear"></div>

      </div>

    </div>

    <div class="passmarked{{namespace}}-widget-preview">
      <img style="height: 128px;display:none;" src="#" class="passmarked{{namespace}}-widget-preview-img" />
    </div>

    <div class="passmarked{{namespace}}-widget-meta">
      {{{metaBox}}}
    </div>

  </div>

  <div class="passmarked{{namespace}}-widget-section" data-section="loading">

    <p class="passmarked{{namespace}}-widget-section-middle">Loading ...</p>

  </div>

  <div class="passmarked{{namespace}}-widget-section" data-section="main">

    <form class="passmarked{{namespace}}-widget-form" type="POST" action="javascript:void(0);">

      <img src="//static.passmarked.com/text32.png" />

      <br />
      <input type="text" value="" class="passmarked{{namespace}}-widget-address" />
      <button>MARK</button>

    </form>

  </div>

</div>