<a href="#" class="passmarked{{namespace}}-widget-meta-block">
  <div class="passmarked{{namespace}}-widget-meta-block-logo">

    <img class="passmarked{{namespace}}-widget-meta-block-logo-img" src="//static.passmarked.com/icons/performance.png" />

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-label">

    <div class="passmarked{{namespace}}-widget-meta-block-label-main">Performance</div>
    <div class="passmarked{{namespace}}-widget-meta-block-label-sub">5 Errors</div>

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-mark">

    100

  </div>
  <div class="passmarked{{namespace}}-clear"></div>
</a>
<a href="#" class="passmarked{{namespace}}-widget-meta-block">
  <div class="passmarked{{namespace}}-widget-meta-block-logo">

    <img class="passmarked{{namespace}}-widget-meta-block-logo-img" src="//static.passmarked.com/icons/compatibility.png" />

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-label">

    <div class="passmarked{{namespace}}-widget-meta-block-label-main">Compatibility</div>
    <div class="passmarked{{namespace}}-widget-meta-block-label-sub">5 Errors</div>

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-mark">

    100

  </div>
  <div class="passmarked{{namespace}}-clear"></div>
</a>
<a href="#" class="passmarked{{namespace}}-widget-meta-block">
  <div class="passmarked{{namespace}}-widget-meta-block-logo">

    <img class="passmarked{{namespace}}-widget-meta-block-logo-img" src="//static.passmarked.com/icons/content.png" />

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-label">

    <div class="passmarked{{namespace}}-widget-meta-block-label-main">Content</div>
    <div class="passmarked{{namespace}}-widget-meta-block-label-sub">5 Errors</div>

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-mark">

    100

  </div>
  <div class="passmarked{{namespace}}-clear"></div>
</a>
<a href="#" class="passmarked{{namespace}}-widget-meta-block">
  <div class="passmarked{{namespace}}-widget-meta-block-logo">

    <img class="passmarked{{namespace}}-widget-meta-block-logo-img" src="//static.passmarked.com/icons/security.png" />

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-label">

    <div class="passmarked{{namespace}}-widget-meta-block-label-main">Security</div>
    <div class="passmarked{{namespace}}-widget-meta-block-label-sub">5 Errors</div>

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-mark">

    100

  </div>
  <div class="passmarked{{namespace}}-clear"></div>
</a>
