<a href="#" class="passmarked{{namespace}}-widget-meta-block">
  <div class="passmarked{{namespace}}-widget-meta-block-logo">

    <img class="passmarked{{namespace}}-widget-meta-block-logo-img" src="//static.passmarked.com/icons/performance.png" />

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-label">

    <div class="passmarked{{namespace}}-widget-meta-block-label-main">Server is vunerable to Heartbleed</div>
    <div class="passmarked{{namespace}}-widget-meta-block-label-sub">Click to read more and how to fix</div>

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-mark">

    <img class="passmarked{{namespace}}-widget-meta-block-mark-img" src="//static.passmarked.com/icons/check64.png" />

  </div>
  <div class="passmarked{{namespace}}-clear"></div>
</a>

<a href="#" class="passmarked{{namespace}}-widget-meta-block">
  <div class="passmarked{{namespace}}-widget-meta-block-logo">

    <img class="passmarked{{namespace}}-widget-meta-block-logo-img" src="//static.passmarked.com/icons/performance.png" />

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-label">

    <div class="passmarked{{namespace}}-widget-meta-block-label-main">Server is vunerable to Heartbleed</div>
    <div class="passmarked{{namespace}}-widget-meta-block-label-sub">Click to read more and how to fix</div>

  </div>
  <div class="passmarked{{namespace}}-widget-meta-block-mark">

    <img class="passmarked{{namespace}}-widget-meta-block-mark-img" src="//static.passmarked.com/icons/delete64.png" />

  </div>
  <div class="passmarked{{namespace}}-clear"></div>
</a>